.parent {
	overflow: hidden;
	max-width: 100%;
	width: 100%;
	word-break: break-word;
	text-overflow: ellipsis;
}
.parent :global(img) {
	max-width: 100%;
	height: auto;
	border-radius: var(--mantine-radius-default);
	display: block;
}

.parent :global(table) {
	--table-vertical-spacing: calc(0.4375rem * var(--mantine-scale));

	@mixin dark {
		--table-hover-color: var(--mantine-color-dark-5);
		--table-striped-color: var(--mantine-color-dark-6);
		--table-border-color: var(--mantine-color-dark-4);
	}

	@mixin light {
		--table-hover-color: var(--mantine-color-gray-1);
		--table-striped-color: var(--mantine-color-gray-0);
		--table-border-color: var(--mantine-color-gray-3);
	}

	width: 100%;
	border-collapse: collapse;
	line-height: var(--mantine-line-height);
	font-size: var(--mantine-font-size-sm);
	table-layout: auto;
	caption-side: bottom;
	border: none;
	display: table;
	text-indent: initial;
	border-spacing: 2px;
}

.parent :global(table thead tr) {
	border-bottom: calc(0.0625rem * var(--mantine-scale)) solid var(--table-border-color);
	background: transparent;
}

.parent :global(table thead th) {
	padding: var(--table-vertical-spacing) var(--mantine-spacing-xs);
	text-align: left;
}

.parent :global(table thead th:not(:last-child)) {
	border-inline-end: calc(0.0625rem * var(--mantine-scale)) solid var(--table-border-color);
}

.parent :global(table tobdy) {
	--tr-hover-bg: var(--table-hover-color);
}

.parent :global(table tbody tr:not(:last-child)) {
	border-bottom: calc(0.0625rem * var(--mantine-scale)) solid var(--table-border-color);
}

.parent :global(table tbody tr:hover) {
	background-color: var(--tr-hover-bg);
}

.parent :global(table tbody td:not(:last-child)) {
	border-inline-end: calc(0.0625rem * var(--mantine-scale)) solid var(--table-border-color);
}

.parent :global(table tbody td) {
	padding: var(--table-vertical-spacing) var(--mantine-spacing-xs);
}

.parent :global(code:not(pre *)) {
	--code-background: var(--mantine-color-buildtheearth-light);

	@mixin dark {
		--code-text-color: var(--mantine-color-white);
	}

	@mixin light {
		--code-text-color: var(--mantine-color-black);
	}

	background: var(--code-background);
	color: var(--code-text-color);
	line-height: var(--mantine-line-height);
	padding: 2px calc(var(--mantine-spacing-xs) / 2);
	border-radius: var(--mantine-radius-sm);
	font-size: var(--mantine-font-size-xs);
	margin: 0;
	overflow: auto;
	font-weight: normal;
}

.parent :global(blockquote) {
	--bq-bg-light: rgba(78, 83, 183, 0.07);
	--bq-bg-dark: rgba(78, 83, 183, 0.06);
	--bq-bd: var(--mantine-color-buildtheearth-filled);
	--bq-icon-size: calc(3rem * var(--mantine-scale));
	--bq-radius: var(--mantine-radius-default);
	--bq-border: 3px solid var(--bq-bd);

	@mixin dark {
		background: var(--bq-bg-dark);
	}
	@mixin light {
		background: var(--bq-bg-dark);
	}

	width: fit-content;
	margin: var(--mantine-spacing-sm) 0;
	border-inline-start: var(--bq-border);
	border-start-end-radius: var(--bq-radius);
	border-end-end-radius: var(--bq-radius);
	padding: var(--mantine-spacing-sm) calc(1.375rem * var(--mantine-scale));
}

.parent :global(hr) {
	border-color: light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
	border-width: calc(0.0625rem * var(--mantine-scale));
	margin: var(--mantine-spacing-md) 0;
}
