# Monorepo
.turbo

# IDEs
**/.idea
**/.vscode

# Tooling
**/package-lock.json
**/yarn.lock
!yarn.lock
.yarn

# Dependencies
**/node_modules
**/.pnp
.pnp.js

# Configuration
**/.env*.local
**/*.env*.local
**/.env
**/*.env
TODO.md

# Builds
**/build
**/dist
**/out
**/*.js.map
**/*.js
**/logs/*.log
**/*.tsbuildinfo
.backup