.header {
	height: 56px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	background-color: transparent;
	backdrop-filter: blur(20px);
	border: none;
	z-index: 999999;
}

.inner {
	height: 56px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: none;
}

.link {
	display: block;
	line-height: 1;
	padding: 8px 12px;
	border-radius: var(--mantine-radius-sm);
	text-decoration: none;
	color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-gray-0));
	text-shadow: var(--mantine-shadow-xl);
	font-size: var(--mantine-font-size-sm);
	font-weight: 500;

	@mixin hover {
		background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
	}
}
