#
# Keycloak
#
NEXT_PUBLIC_KEYCLOAK_URL="https://.../realms/..."
NEXT_PUBLIC_KEYCLOAK_ID="..."
KEYCLOAK_SECRET="..."
KEYCLOAK_ADMIN_CLIENT_ID="..."
KEYCLOAK_ADMIN_CLIENT_SECRET="..."

#
# Auth
#
NEXTAUTH_URL="http://localhost:3001"
NEXTAUTH_SECRET="..."
INTERNAL_API_KEY="..."

#
# APIs
#
NEXT_PUBLIC_API_URL="https://.../api/v1"
NEXT_PUBLIC_SMYLER_API_URL="https://..."

# 
# Main Website
#
NEXT_PUBLIC_FRONTEND_URL="https://..."
FRONTEND_KEY="..."

#
# Mapbox
#
NEXT_PUBLIC_MAPBOX_TOKEN="..."

#
# Database
#
DATABASE_URL="postgresql://user:password@server:5432/database?pool_timeout=0"

#
# DISCORD
#
REPORTS_WEBHOOK="https://discord.com/api/webhooks/..."
DISCORD_BOT_URL="https://..."
DISCORD_BOT_SECRET="..."