#
# Keycloak
#
NEXT_PUBLIC_KEYCLOAK_URL="https://yourkeycloak.net/realms/yourrealm"
NEXT_PUBLIC_KEYCLOAK_ID="yourclient"
KEYCLOAK_SECRET="topsecret"

#
# NextAuth
#
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="secondtopsecret"

#
# BuildTheEarth
#
NEXT_PUBLIC_API_URL="https://api.yourserver.net/api/v1"
NEXT_PUBLIC_SMYLER_API_URL="https://smybteapi.yourserver.net"
NEXT_PUBLIC_FRONTEND_URL="https://yourserver.net"
FRONTEND_KEY="thirdtopsecret"

#
# Other Confirguration
#
REPORTS_WEBHOOK="https://discord.com/api/webhooks/..."
NEXT_PUBLIC_MAPBOX_TOKEN="fourthtopsecret"